.page-body {
    background: #3C3C3C;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 3.25%;
}

.carousel {
    position: relative;
    width: 100%;
    height: inherit;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: inherit;
    opacity: 0;
}

.slide > div > hr {
    border: 10px solid #46CD6E;
    border-radius: 8px;
    margin-bottom: 12px;
}

.slide > div > h2 {
    font-size: 18px;
    color: #fefefe;
    margin-bottom: 12px;
}

.slide > div > h2 > span {
    color: #46cd6e;
}

.flow-header > h1 {
    font-size: 48px;
    color: #fefefe;
}

.active-slide {
    animation: slideFromRight 150ms ease-in-out forwards;
}

@keyframes slideFromRight {
    0%{
        opacity: 0.01;
        left: 120px;
}
100% {
    opacity: 1;
    left: 0px;
}
}

.dashboard-page {
    display: flex;
}

.gig-page {
    display: flex;
}

.top-dash-row {
    margin-bottom: 12px;
    gap: 12px;
}

.mid-dash-row {
    margin-bottom: 12px;
    gap: 12px;
}

.left-dash-col, .right-dash-col {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

.left-dash-col {
    width: 66%;
    margin-right: 12px;
}

.right-dash-col {
    width: 33%;
}

.right-dash-col > .card-item-grad {
    grid-row: 1/3;
}

.scroll-disabled {
    overflow: hidden !important;
}
